#infoPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 20% 4% 20%;
    text-align: justify;
}

#infoTitle {

}

.infoTextDiv{
    margin-bottom: 20px;
}

#resources{
    margin-top: 40px;
}