#postsContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 2% 20% 2% 20%;
  margin: 0px;
  align-items: center;
  justify-content: center;
  animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
