nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  align-items: center;
  text-decoration: none;
  font-family: Futura;
}

#navRight{
  display: flex;
  flex-direction: row;

}

#navLeft {
  font-size: 30px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#postLink{
  margin-right: 20px;
}